proyecto web/aplicacionweb/src/conf/xml-resources/web-service-references/Servicios/wsdl/localhost_8080/SERVICIOS/Servicios.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WebService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WebService/" name="Servicios">
<types>
<xsd:schema>
<xsd:import namespace="http://WebService/" schemaLocation="http://localhost:8080/SERVICIOS/Servicios?xsd=1"/>
</xsd:schema>
</types>
<message name="modificarInventario">
<part name="parameters" element="tns:modificarInventario"/>
</message>
<message name="modificarInventarioResponse">
<part name="parameters" element="tns:modificarInventarioResponse"/>
</message>
<message name="detalleinventario">
<part name="parameters" element="tns:detalleinventario"/>
</message>
<message name="detalleinventarioResponse">
<part name="parameters" element="tns:detalleinventarioResponse"/>
</message>
<message name="servicioscontratados">
<part name="parameters" element="tns:servicioscontratados"/>
</message>
<message name="servicioscontratadosResponse">
<part name="parameters" element="tns:servicioscontratadosResponse"/>
</message>
<message name="modificarServicio">
<part name="parameters" element="tns:modificarServicio"/>
</message>
<message name="modificarServicioResponse">
<part name="parameters" element="tns:modificarServicioResponse"/>
</message>
<message name="contratarservicio">
<part name="parameters" element="tns:contratarservicio"/>
</message>
<message name="contratarservicioResponse">
<part name="parameters" element="tns:contratarservicioResponse"/>
</message>
<message name="listarmissolicitudes">
<part name="parameters" element="tns:listarmissolicitudes"/>
</message>
<message name="listarmissolicitudesResponse">
<part name="parameters" element="tns:listarmissolicitudesResponse"/>
</message>
<message name="listarsolicitudes">
<part name="parameters" element="tns:listarsolicitudes"/>
</message>
<message name="listarsolicitudesResponse">
<part name="parameters" element="tns:listarsolicitudesResponse"/>
</message>
<message name="nuevaplanificacion">
<part name="parameters" element="tns:nuevaplanificacion"/>
</message>
<message name="nuevaplanificacionResponse">
<part name="parameters" element="tns:nuevaplanificacionResponse"/>
</message>
<message name="actualizarestadosolicitud">
<part name="parameters" element="tns:actualizarestadosolicitud"/>
</message>
<message name="actualizarestadosolicitudResponse">
<part name="parameters" element="tns:actualizarestadosolicitudResponse"/>
</message>
<message name="ListarHabilitados">
<part name="parameters" element="tns:ListarHabilitados"/>
</message>
<message name="ListarHabilitadosResponse">
<part name="parameters" element="tns:ListarHabilitadosResponse"/>
</message>
<message name="actualizarestadodepartamento">
<part name="parameters" element="tns:actualizarestadodepartamento"/>
</message>
<message name="actualizarestadodepartamentoResponse">
<part name="parameters" element="tns:actualizarestadodepartamentoResponse"/>
</message>
<message name="eliminarservicio">
<part name="parameters" element="tns:eliminarservicio"/>
</message>
<message name="eliminarservicioResponse">
<part name="parameters" element="tns:eliminarservicioResponse"/>
</message>
<message name="listarcuentas">
<part name="parameters" element="tns:listarcuentas"/>
</message>
<message name="listarcuentasResponse">
<part name="parameters" element="tns:listarcuentasResponse"/>
</message>
<message name="nuevoservicio">
<part name="parameters" element="tns:nuevoservicio"/>
</message>
<message name="nuevoservicioResponse">
<part name="parameters" element="tns:nuevoservicioResponse"/>
</message>
<message name="actualizarperfil">
<part name="parameters" element="tns:actualizarperfil"/>
</message>
<message name="actualizarperfilResponse">
<part name="parameters" element="tns:actualizarperfilResponse"/>
</message>
<message name="listarserv">
<part name="parameters" element="tns:listarserv"/>
</message>
<message name="listarservResponse">
<part name="parameters" element="tns:listarservResponse"/>
</message>
<message name="ListarCheckout">
<part name="parameters" element="tns:ListarCheckout"/>
</message>
<message name="ListarCheckoutResponse">
<part name="parameters" element="tns:ListarCheckoutResponse"/>
</message>
<message name="ListarCheckin">
<part name="parameters" element="tns:ListarCheckin"/>
</message>
<message name="ListarCheckinResponse">
<part name="parameters" element="tns:ListarCheckinResponse"/>
</message>
<message name="nuevasolicitud">
<part name="parameters" element="tns:nuevasolicitud"/>
</message>
<message name="nuevasolicitudResponse">
<part name="parameters" element="tns:nuevasolicitudResponse"/>
</message>
<message name="nuevocheckout">
<part name="parameters" element="tns:nuevocheckout"/>
</message>
<message name="nuevocheckoutResponse">
<part name="parameters" element="tns:nuevocheckoutResponse"/>
</message>
<message name="BuscarServicio">
<part name="parameters" element="tns:BuscarServicio"/>
</message>
<message name="BuscarServicioResponse">
<part name="parameters" element="tns:BuscarServicioResponse"/>
</message>
<message name="IDReserva">
<part name="parameters" element="tns:IDReserva"/>
</message>
<message name="IDReservaResponse">
<part name="parameters" element="tns:IDReservaResponse"/>
</message>
<message name="nuevocheckin">
<part name="parameters" element="tns:nuevocheckin"/>
</message>
<message name="nuevocheckinResponse">
<part name="parameters" element="tns:nuevocheckinResponse"/>
</message>
<message name="listarreservasporcomuna">
<part name="parameters" element="tns:listarreservasporcomuna"/>
</message>
<message name="listarreservasporcomunaResponse">
<part name="parameters" element="tns:listarreservasporcomunaResponse"/>
</message>
<message name="listarreservaspornumeropersonas">
<part name="parameters" element="tns:listarreservaspornumeropersonas"/>
</message>
<message name="listarreservaspornumeropersonasResponse">
<part name="parameters" element="tns:listarreservaspornumeropersonasResponse"/>
</message>
<message name="listarreservasporfechas">
<part name="parameters" element="tns:listarreservasporfechas"/>
</message>
<message name="listarreservasporfechasResponse">
<part name="parameters" element="tns:listarreservasporfechasResponse"/>
</message>
<message name="listarsolicitudesporfechas">
<part name="parameters" element="tns:listarsolicitudesporfechas"/>
</message>
<message name="listarsolicitudesporfechasResponse">
<part name="parameters" element="tns:listarsolicitudesporfechasResponse"/>
</message>
<message name="Detalleasignacion">
<part name="parameters" element="tns:Detalleasignacion"/>
</message>
<message name="DetalleasignacionResponse">
<part name="parameters" element="tns:DetalleasignacionResponse"/>
</message>
<message name="Listar3omaspersonas">
<part name="parameters" element="tns:Listar3omaspersonas"/>
</message>
<message name="Listar3omaspersonasResponse">
<part name="parameters" element="tns:Listar3omaspersonasResponse"/>
</message>
<message name="listarLocalidades">
<part name="parameters" element="tns:listarLocalidades"/>
</message>
<message name="listarLocalidadesResponse">
<part name="parameters" element="tns:listarLocalidadesResponse"/>
</message>
<message name="listarreservadepartamento">
<part name="parameters" element="tns:listarreservadepartamento"/>
</message>
<message name="listarreservadepartamentoResponse">
<part name="parameters" element="tns:listarreservadepartamentoResponse"/>
</message>
<message name="listarcategorias">
<part name="parameters" element="tns:listarcategorias"/>
</message>
<message name="listarcategoriasResponse">
<part name="parameters" element="tns:listarcategoriasResponse"/>
</message>
<message name="listarServicios">
<part name="parameters" element="tns:listarServicios"/>
</message>
<message name="listarServiciosResponse">
<part name="parameters" element="tns:listarServiciosResponse"/>
</message>
<message name="eliminarReserva">
<part name="parameters" element="tns:eliminarReserva"/>
</message>
<message name="eliminarReservaResponse">
<part name="parameters" element="tns:eliminarReservaResponse"/>
</message>
<message name="listarclientes">
<part name="parameters" element="tns:listarclientes"/>
</message>
<message name="listarclientesResponse">
<part name="parameters" element="tns:listarclientesResponse"/>
</message>
<message name="CrearCuenta">
<part name="parameters" element="tns:CrearCuenta"/>
</message>
<message name="CrearCuentaResponse">
<part name="parameters" element="tns:CrearCuentaResponse"/>
</message>
<message name="Mostrarporrut">
<part name="parameters" element="tns:Mostrarporrut"/>
</message>
<message name="MostrarporrutResponse">
<part name="parameters" element="tns:MostrarporrutResponse"/>
</message>
<message name="listarusuarios">
<part name="parameters" element="tns:listarusuarios"/>
</message>
<message name="listarusuariosResponse">
<part name="parameters" element="tns:listarusuariosResponse"/>
</message>
<message name="Actualizardepartamento">
<part name="parameters" element="tns:Actualizardepartamento"/>
</message>
<message name="ActualizardepartamentoResponse">
<part name="parameters" element="tns:ActualizardepartamentoResponse"/>
</message>
<message name="Eliminardepartamento">
<part name="parameters" element="tns:Eliminardepartamento"/>
</message>
<message name="EliminardepartamentoResponse">
<part name="parameters" element="tns:EliminardepartamentoResponse"/>
</message>
<message name="listardepartamentos">
<part name="parameters" element="tns:listardepartamentos"/>
</message>
<message name="listardepartamentosResponse">
<part name="parameters" element="tns:listardepartamentosResponse"/>
</message>
<message name="listarpordepartamento">
<part name="parameters" element="tns:listarpordepartamento"/>
</message>
<message name="listarpordepartamentoResponse">
<part name="parameters" element="tns:listarpordepartamentoResponse"/>
</message>
<message name="eliminarinventario">
<part name="parameters" element="tns:eliminarinventario"/>
</message>
<message name="eliminarinventarioResponse">
<part name="parameters" element="tns:eliminarinventarioResponse"/>
</message>
<message name="agregardepartamento">
<part name="parameters" element="tns:agregardepartamento"/>
</message>
<message name="agregardepartamentoResponse">
<part name="parameters" element="tns:agregardepartamentoResponse"/>
</message>
<message name="agregarReserva">
<part name="parameters" element="tns:agregarReserva"/>
</message>
<message name="agregarReservaResponse">
<part name="parameters" element="tns:agregarReservaResponse"/>
</message>
<message name="listarDeptos">
<part name="parameters" element="tns:listarDeptos"/>
</message>
<message name="listarDeptosResponse">
<part name="parameters" element="tns:listarDeptosResponse"/>
</message>
<message name="listarReservas">
<part name="parameters" element="tns:listarReservas"/>
</message>
<message name="listarReservasResponse">
<part name="parameters" element="tns:listarReservasResponse"/>
</message>
<message name="modificarUsuario">
<part name="parameters" element="tns:modificarUsuario"/>
</message>
<message name="modificarUsuarioResponse">
<part name="parameters" element="tns:modificarUsuarioResponse"/>
</message>
<message name="retornarRut">
<part name="parameters" element="tns:retornarRut"/>
</message>
<message name="retornarRutResponse">
<part name="parameters" element="tns:retornarRutResponse"/>
</message>
<message name="retornarNombre">
<part name="parameters" element="tns:retornarNombre"/>
</message>
<message name="retornarNombreResponse">
<part name="parameters" element="tns:retornarNombreResponse"/>
</message>
<message name="eliminarUsuario">
<part name="parameters" element="tns:eliminarUsuario"/>
</message>
<message name="eliminarUsuarioResponse">
<part name="parameters" element="tns:eliminarUsuarioResponse"/>
</message>
<message name="nuevoinventario">
<part name="parameters" element="tns:nuevoinventario"/>
</message>
<message name="nuevoinventarioResponse">
<part name="parameters" element="tns:nuevoinventarioResponse"/>
</message>
<message name="validaUsuario">
<part name="parameters" element="tns:validaUsuario"/>
</message>
<message name="validaUsuarioResponse">
<part name="parameters" element="tns:validaUsuarioResponse"/>
</message>
<message name="listarInventario">
<part name="parameters" element="tns:listarInventario"/>
</message>
<message name="listarInventarioResponse">
<part name="parameters" element="tns:listarInventarioResponse"/>
</message>
<message name="nuevopago">
<part name="parameters" element="tns:nuevopago"/>
</message>
<message name="nuevopagoResponse">
<part name="parameters" element="tns:nuevopagoResponse"/>
</message>
<portType name="Servicios">
<operation name="modificarInventario">
<input wsam:Action="http://WebService/Servicios/modificarInventarioRequest" message="tns:modificarInventario"/>
<output wsam:Action="http://WebService/Servicios/modificarInventarioResponse" message="tns:modificarInventarioResponse"/>
</operation>
<operation name="detalleinventario">
<input wsam:Action="http://WebService/Servicios/detalleinventarioRequest" message="tns:detalleinventario"/>
<output wsam:Action="http://WebService/Servicios/detalleinventarioResponse" message="tns:detalleinventarioResponse"/>
</operation>
<operation name="servicioscontratados">
<input wsam:Action="http://WebService/Servicios/servicioscontratadosRequest" message="tns:servicioscontratados"/>
<output wsam:Action="http://WebService/Servicios/servicioscontratadosResponse" message="tns:servicioscontratadosResponse"/>
</operation>
<operation name="modificarServicio">
<input wsam:Action="http://WebService/Servicios/modificarServicioRequest" message="tns:modificarServicio"/>
<output wsam:Action="http://WebService/Servicios/modificarServicioResponse" message="tns:modificarServicioResponse"/>
</operation>
<operation name="contratarservicio">
<input wsam:Action="http://WebService/Servicios/contratarservicioRequest" message="tns:contratarservicio"/>
<output wsam:Action="http://WebService/Servicios/contratarservicioResponse" message="tns:contratarservicioResponse"/>
</operation>
<operation name="listarmissolicitudes">
<input wsam:Action="http://WebService/Servicios/listarmissolicitudesRequest" message="tns:listarmissolicitudes"/>
<output wsam:Action="http://WebService/Servicios/listarmissolicitudesResponse" message="tns:listarmissolicitudesResponse"/>
</operation>
<operation name="listarsolicitudes">
<input wsam:Action="http://WebService/Servicios/listarsolicitudesRequest" message="tns:listarsolicitudes"/>
<output wsam:Action="http://WebService/Servicios/listarsolicitudesResponse" message="tns:listarsolicitudesResponse"/>
</operation>
<operation name="nuevaplanificacion">
<input wsam:Action="http://WebService/Servicios/nuevaplanificacionRequest" message="tns:nuevaplanificacion"/>
<output wsam:Action="http://WebService/Servicios/nuevaplanificacionResponse" message="tns:nuevaplanificacionResponse"/>
</operation>
<operation name="actualizarestadosolicitud">
<input wsam:Action="http://WebService/Servicios/actualizarestadosolicitudRequest" message="tns:actualizarestadosolicitud"/>
<output wsam:Action="http://WebService/Servicios/actualizarestadosolicitudResponse" message="tns:actualizarestadosolicitudResponse"/>
</operation>
<operation name="ListarHabilitados">
<input wsam:Action="http://WebService/Servicios/ListarHabilitadosRequest" message="tns:ListarHabilitados"/>
<output wsam:Action="http://WebService/Servicios/ListarHabilitadosResponse" message="tns:ListarHabilitadosResponse"/>
</operation>
<operation name="actualizarestadodepartamento">
<input wsam:Action="http://WebService/Servicios/actualizarestadodepartamentoRequest" message="tns:actualizarestadodepartamento"/>
<output wsam:Action="http://WebService/Servicios/actualizarestadodepartamentoResponse" message="tns:actualizarestadodepartamentoResponse"/>
</operation>
<operation name="eliminarservicio">
<input wsam:Action="http://WebService/Servicios/eliminarservicioRequest" message="tns:eliminarservicio"/>
<output wsam:Action="http://WebService/Servicios/eliminarservicioResponse" message="tns:eliminarservicioResponse"/>
</operation>
<operation name="listarcuentas">
<input wsam:Action="http://WebService/Servicios/listarcuentasRequest" message="tns:listarcuentas"/>
<output wsam:Action="http://WebService/Servicios/listarcuentasResponse" message="tns:listarcuentasResponse"/>
</operation>
<operation name="nuevoservicio">
<input wsam:Action="http://WebService/Servicios/nuevoservicioRequest" message="tns:nuevoservicio"/>
<output wsam:Action="http://WebService/Servicios/nuevoservicioResponse" message="tns:nuevoservicioResponse"/>
</operation>
<operation name="actualizarperfil">
<input wsam:Action="http://WebService/Servicios/actualizarperfilRequest" message="tns:actualizarperfil"/>
<output wsam:Action="http://WebService/Servicios/actualizarperfilResponse" message="tns:actualizarperfilResponse"/>
</operation>
<operation name="listarserv">
<input wsam:Action="http://WebService/Servicios/listarservRequest" message="tns:listarserv"/>
<output wsam:Action="http://WebService/Servicios/listarservResponse" message="tns:listarservResponse"/>
</operation>
<operation name="ListarCheckout">
<input wsam:Action="http://WebService/Servicios/ListarCheckoutRequest" message="tns:ListarCheckout"/>
<output wsam:Action="http://WebService/Servicios/ListarCheckoutResponse" message="tns:ListarCheckoutResponse"/>
</operation>
<operation name="ListarCheckin">
<input wsam:Action="http://WebService/Servicios/ListarCheckinRequest" message="tns:ListarCheckin"/>
<output wsam:Action="http://WebService/Servicios/ListarCheckinResponse" message="tns:ListarCheckinResponse"/>
</operation>
<operation name="nuevasolicitud">
<input wsam:Action="http://WebService/Servicios/nuevasolicitudRequest" message="tns:nuevasolicitud"/>
<output wsam:Action="http://WebService/Servicios/nuevasolicitudResponse" message="tns:nuevasolicitudResponse"/>
</operation>
<operation name="nuevocheckout">
<input wsam:Action="http://WebService/Servicios/nuevocheckoutRequest" message="tns:nuevocheckout"/>
<output wsam:Action="http://WebService/Servicios/nuevocheckoutResponse" message="tns:nuevocheckoutResponse"/>
</operation>
<operation name="BuscarServicio">
<input wsam:Action="http://WebService/Servicios/BuscarServicioRequest" message="tns:BuscarServicio"/>
<output wsam:Action="http://WebService/Servicios/BuscarServicioResponse" message="tns:BuscarServicioResponse"/>
</operation>
<operation name="IDReserva">
<input wsam:Action="http://WebService/Servicios/IDReservaRequest" message="tns:IDReserva"/>
<output wsam:Action="http://WebService/Servicios/IDReservaResponse" message="tns:IDReservaResponse"/>
</operation>
<operation name="nuevocheckin">
<input wsam:Action="http://WebService/Servicios/nuevocheckinRequest" message="tns:nuevocheckin"/>
<output wsam:Action="http://WebService/Servicios/nuevocheckinResponse" message="tns:nuevocheckinResponse"/>
</operation>
<operation name="listarreservasporcomuna">
<input wsam:Action="http://WebService/Servicios/listarreservasporcomunaRequest" message="tns:listarreservasporcomuna"/>
<output wsam:Action="http://WebService/Servicios/listarreservasporcomunaResponse" message="tns:listarreservasporcomunaResponse"/>
</operation>
<operation name="listarreservaspornumeropersonas">
<input wsam:Action="http://WebService/Servicios/listarreservaspornumeropersonasRequest" message="tns:listarreservaspornumeropersonas"/>
<output wsam:Action="http://WebService/Servicios/listarreservaspornumeropersonasResponse" message="tns:listarreservaspornumeropersonasResponse"/>
</operation>
<operation name="listarreservasporfechas">
<input wsam:Action="http://WebService/Servicios/listarreservasporfechasRequest" message="tns:listarreservasporfechas"/>
<output wsam:Action="http://WebService/Servicios/listarreservasporfechasResponse" message="tns:listarreservasporfechasResponse"/>
</operation>
<operation name="listarsolicitudesporfechas">
<input wsam:Action="http://WebService/Servicios/listarsolicitudesporfechasRequest" message="tns:listarsolicitudesporfechas"/>
<output wsam:Action="http://WebService/Servicios/listarsolicitudesporfechasResponse" message="tns:listarsolicitudesporfechasResponse"/>
</operation>
<operation name="Detalleasignacion">
<input wsam:Action="http://WebService/Servicios/DetalleasignacionRequest" message="tns:Detalleasignacion"/>
<output wsam:Action="http://WebService/Servicios/DetalleasignacionResponse" message="tns:DetalleasignacionResponse"/>
</operation>
<operation name="Listar3omaspersonas">
<input wsam:Action="http://WebService/Servicios/Listar3omaspersonasRequest" message="tns:Listar3omaspersonas"/>
<output wsam:Action="http://WebService/Servicios/Listar3omaspersonasResponse" message="tns:Listar3omaspersonasResponse"/>
</operation>
<operation name="listarLocalidades">
<input wsam:Action="http://WebService/Servicios/listarLocalidadesRequest" message="tns:listarLocalidades"/>
<output wsam:Action="http://WebService/Servicios/listarLocalidadesResponse" message="tns:listarLocalidadesResponse"/>
</operation>
<operation name="listarreservadepartamento">
<input wsam:Action="http://WebService/Servicios/listarreservadepartamentoRequest" message="tns:listarreservadepartamento"/>
<output wsam:Action="http://WebService/Servicios/listarreservadepartamentoResponse" message="tns:listarreservadepartamentoResponse"/>
</operation>
<operation name="listarcategorias">
<input wsam:Action="http://WebService/Servicios/listarcategoriasRequest" message="tns:listarcategorias"/>
<output wsam:Action="http://WebService/Servicios/listarcategoriasResponse" message="tns:listarcategoriasResponse"/>
</operation>
<operation name="listarServicios">
<input wsam:Action="http://WebService/Servicios/listarServiciosRequest" message="tns:listarServicios"/>
<output wsam:Action="http://WebService/Servicios/listarServiciosResponse" message="tns:listarServiciosResponse"/>
</operation>
<operation name="eliminarReserva">
<input wsam:Action="http://WebService/Servicios/eliminarReservaRequest" message="tns:eliminarReserva"/>
<output wsam:Action="http://WebService/Servicios/eliminarReservaResponse" message="tns:eliminarReservaResponse"/>
</operation>
<operation name="listarclientes">
<input wsam:Action="http://WebService/Servicios/listarclientesRequest" message="tns:listarclientes"/>
<output wsam:Action="http://WebService/Servicios/listarclientesResponse" message="tns:listarclientesResponse"/>
</operation>
<operation name="CrearCuenta">
<input wsam:Action="http://WebService/Servicios/CrearCuentaRequest" message="tns:CrearCuenta"/>
<output wsam:Action="http://WebService/Servicios/CrearCuentaResponse" message="tns:CrearCuentaResponse"/>
</operation>
<operation name="Mostrarporrut">
<input wsam:Action="http://WebService/Servicios/MostrarporrutRequest" message="tns:Mostrarporrut"/>
<output wsam:Action="http://WebService/Servicios/MostrarporrutResponse" message="tns:MostrarporrutResponse"/>
</operation>
<operation name="listarusuarios">
<input wsam:Action="http://WebService/Servicios/listarusuariosRequest" message="tns:listarusuarios"/>
<output wsam:Action="http://WebService/Servicios/listarusuariosResponse" message="tns:listarusuariosResponse"/>
</operation>
<operation name="Actualizardepartamento">
<input wsam:Action="http://WebService/Servicios/ActualizardepartamentoRequest" message="tns:Actualizardepartamento"/>
<output wsam:Action="http://WebService/Servicios/ActualizardepartamentoResponse" message="tns:ActualizardepartamentoResponse"/>
</operation>
<operation name="Eliminardepartamento">
<input wsam:Action="http://WebService/Servicios/EliminardepartamentoRequest" message="tns:Eliminardepartamento"/>
<output wsam:Action="http://WebService/Servicios/EliminardepartamentoResponse" message="tns:EliminardepartamentoResponse"/>
</operation>
<operation name="listardepartamentos">
<input wsam:Action="http://WebService/Servicios/listardepartamentosRequest" message="tns:listardepartamentos"/>
<output wsam:Action="http://WebService/Servicios/listardepartamentosResponse" message="tns:listardepartamentosResponse"/>
</operation>
<operation name="listarpordepartamento">
<input wsam:Action="http://WebService/Servicios/listarpordepartamentoRequest" message="tns:listarpordepartamento"/>
<output wsam:Action="http://WebService/Servicios/listarpordepartamentoResponse" message="tns:listarpordepartamentoResponse"/>
</operation>
<operation name="eliminarinventario">
<input wsam:Action="http://WebService/Servicios/eliminarinventarioRequest" message="tns:eliminarinventario"/>
<output wsam:Action="http://WebService/Servicios/eliminarinventarioResponse" message="tns:eliminarinventarioResponse"/>
</operation>
<operation name="agregardepartamento">
<input wsam:Action="http://WebService/Servicios/agregardepartamentoRequest" message="tns:agregardepartamento"/>
<output wsam:Action="http://WebService/Servicios/agregardepartamentoResponse" message="tns:agregardepartamentoResponse"/>
</operation>
<operation name="agregarReserva">
<input wsam:Action="http://WebService/Servicios/agregarReservaRequest" message="tns:agregarReserva"/>
<output wsam:Action="http://WebService/Servicios/agregarReservaResponse" message="tns:agregarReservaResponse"/>
</operation>
<operation name="listarDeptos">
<input wsam:Action="http://WebService/Servicios/listarDeptosRequest" message="tns:listarDeptos"/>
<output wsam:Action="http://WebService/Servicios/listarDeptosResponse" message="tns:listarDeptosResponse"/>
</operation>
<operation name="listarReservas">
<input wsam:Action="http://WebService/Servicios/listarReservasRequest" message="tns:listarReservas"/>
<output wsam:Action="http://WebService/Servicios/listarReservasResponse" message="tns:listarReservasResponse"/>
</operation>
<operation name="modificarUsuario">
<input wsam:Action="http://WebService/Servicios/modificarUsuarioRequest" message="tns:modificarUsuario"/>
<output wsam:Action="http://WebService/Servicios/modificarUsuarioResponse" message="tns:modificarUsuarioResponse"/>
</operation>
<operation name="retornarRut">
<input wsam:Action="http://WebService/Servicios/retornarRutRequest" message="tns:retornarRut"/>
<output wsam:Action="http://WebService/Servicios/retornarRutResponse" message="tns:retornarRutResponse"/>
</operation>
<operation name="retornarNombre">
<input wsam:Action="http://WebService/Servicios/retornarNombreRequest" message="tns:retornarNombre"/>
<output wsam:Action="http://WebService/Servicios/retornarNombreResponse" message="tns:retornarNombreResponse"/>
</operation>
<operation name="eliminarUsuario">
<input wsam:Action="http://WebService/Servicios/eliminarUsuarioRequest" message="tns:eliminarUsuario"/>
<output wsam:Action="http://WebService/Servicios/eliminarUsuarioResponse" message="tns:eliminarUsuarioResponse"/>
</operation>
<operation name="nuevoinventario">
<input wsam:Action="http://WebService/Servicios/nuevoinventarioRequest" message="tns:nuevoinventario"/>
<output wsam:Action="http://WebService/Servicios/nuevoinventarioResponse" message="tns:nuevoinventarioResponse"/>
</operation>
<operation name="validaUsuario">
<input wsam:Action="http://WebService/Servicios/validaUsuarioRequest" message="tns:validaUsuario"/>
<output wsam:Action="http://WebService/Servicios/validaUsuarioResponse" message="tns:validaUsuarioResponse"/>
</operation>
<operation name="listarInventario">
<input wsam:Action="http://WebService/Servicios/listarInventarioRequest" message="tns:listarInventario"/>
<output wsam:Action="http://WebService/Servicios/listarInventarioResponse" message="tns:listarInventarioResponse"/>
</operation>
<operation name="nuevopago">
<input wsam:Action="http://WebService/Servicios/nuevopagoRequest" message="tns:nuevopago"/>
<output wsam:Action="http://WebService/Servicios/nuevopagoResponse" message="tns:nuevopagoResponse"/>
</operation>
</portType>
<binding name="ServiciosPortBinding" type="tns:Servicios">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="modificarInventario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="detalleinventario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="servicioscontratados">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="modificarServicio">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="contratarservicio">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarmissolicitudes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarsolicitudes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="nuevaplanificacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="actualizarestadosolicitud">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ListarHabilitados">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="actualizarestadodepartamento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarservicio">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarcuentas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="nuevoservicio">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="actualizarperfil">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarserv">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ListarCheckout">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ListarCheckin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="nuevasolicitud">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="nuevocheckout">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="BuscarServicio">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="IDReserva">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="nuevocheckin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarreservasporcomuna">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarreservaspornumeropersonas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarreservasporfechas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarsolicitudesporfechas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Detalleasignacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Listar3omaspersonas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarLocalidades">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarreservadepartamento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarcategorias">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarServicios">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarReserva">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarclientes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CrearCuenta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Mostrarporrut">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarusuarios">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Actualizardepartamento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Eliminardepartamento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listardepartamentos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarpordepartamento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarinventario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="agregardepartamento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="agregarReserva">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarDeptos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarReservas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="modificarUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retornarRut">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retornarNombre">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="nuevoinventario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="validaUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarInventario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="nuevopago">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Servicios">
<port name="ServiciosPort" binding="tns:ServiciosPortBinding">
<soap:address location="http://localhost:8080/SERVICIOS/Servicios"/>
</port>
</service>
</definitions>