proyecto web y escritorio/TurismoReal - Web/SERVICIOS/web/WEB-INF/wsdl/localhost_8080/SERVICIOS/Servicios.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://WebService/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://WebService/">

<xs:element name="Actualizardepartamento" type="tns:Actualizardepartamento"/>

<xs:element name="ActualizardepartamentoResponse" type="tns:ActualizardepartamentoResponse"/>

<xs:element name="CrearCuenta" type="tns:CrearCuenta"/>

<xs:element name="CrearCuentaResponse" type="tns:CrearCuentaResponse"/>

<xs:element name="Eliminardepartamento" type="tns:Eliminardepartamento"/>

<xs:element name="EliminardepartamentoResponse" type="tns:EliminardepartamentoResponse"/>

<xs:element name="ListarHabilitados" type="tns:ListarHabilitados"/>

<xs:element name="ListarHabilitadosResponse" type="tns:ListarHabilitadosResponse"/>

<xs:element name="Mostrarporrut" type="tns:Mostrarporrut"/>

<xs:element name="MostrarporrutResponse" type="tns:MostrarporrutResponse"/>

<xs:element name="actualizarestadodepartamento" type="tns:actualizarestadodepartamento"/>

<xs:element name="actualizarestadodepartamentoResponse" type="tns:actualizarestadodepartamentoResponse"/>

<xs:element name="agregarReserva" type="tns:agregarReserva"/>

<xs:element name="agregarReservaResponse" type="tns:agregarReservaResponse"/>

<xs:element name="agregardepartamento" type="tns:agregardepartamento"/>

<xs:element name="agregardepartamentoResponse" type="tns:agregardepartamentoResponse"/>

<xs:element name="eliminarReserva" type="tns:eliminarReserva"/>

<xs:element name="eliminarReservaResponse" type="tns:eliminarReservaResponse"/>

<xs:element name="eliminarUsuario" type="tns:eliminarUsuario"/>

<xs:element name="eliminarUsuarioResponse" type="tns:eliminarUsuarioResponse"/>

<xs:element name="eliminarinventario" type="tns:eliminarinventario"/>

<xs:element name="eliminarinventarioResponse" type="tns:eliminarinventarioResponse"/>

<xs:element name="eliminarservicio" type="tns:eliminarservicio"/>

<xs:element name="eliminarservicioResponse" type="tns:eliminarservicioResponse"/>

<xs:element name="listarDeptos" type="tns:listarDeptos"/>

<xs:element name="listarDeptosResponse" type="tns:listarDeptosResponse"/>

<xs:element name="listarInventario" type="tns:listarInventario"/>

<xs:element name="listarInventarioResponse" type="tns:listarInventarioResponse"/>

<xs:element name="listarLocalidades" type="tns:listarLocalidades"/>

<xs:element name="listarLocalidadesResponse" type="tns:listarLocalidadesResponse"/>

<xs:element name="listarReservas" type="tns:listarReservas"/>

<xs:element name="listarReservasResponse" type="tns:listarReservasResponse"/>

<xs:element name="listarServicios" type="tns:listarServicios"/>

<xs:element name="listarServiciosResponse" type="tns:listarServiciosResponse"/>

<xs:element name="listarcategorias" type="tns:listarcategorias"/>

<xs:element name="listarcategoriasResponse" type="tns:listarcategoriasResponse"/>

<xs:element name="listarclientes" type="tns:listarclientes"/>

<xs:element name="listarclientesResponse" type="tns:listarclientesResponse"/>

<xs:element name="listarcuentas" type="tns:listarcuentas"/>

<xs:element name="listarcuentasResponse" type="tns:listarcuentasResponse"/>

<xs:element name="listardepartamentos" type="tns:listardepartamentos"/>

<xs:element name="listardepartamentosResponse" type="tns:listardepartamentosResponse"/>

<xs:element name="listarpordepartamento" type="tns:listarpordepartamento"/>

<xs:element name="listarpordepartamentoResponse" type="tns:listarpordepartamentoResponse"/>

<xs:element name="listarreservadepartamento" type="tns:listarreservadepartamento"/>

<xs:element name="listarreservadepartamentoResponse" type="tns:listarreservadepartamentoResponse"/>

<xs:element name="listarusuarios" type="tns:listarusuarios"/>

<xs:element name="listarusuariosResponse" type="tns:listarusuariosResponse"/>

<xs:element name="modificarUsuario" type="tns:modificarUsuario"/>

<xs:element name="modificarUsuarioResponse" type="tns:modificarUsuarioResponse"/>

<xs:element name="nuevoinventario" type="tns:nuevoinventario"/>

<xs:element name="nuevoinventarioResponse" type="tns:nuevoinventarioResponse"/>

<xs:element name="nuevoservicio" type="tns:nuevoservicio"/>

<xs:element name="nuevoservicioResponse" type="tns:nuevoservicioResponse"/>

<xs:element name="retornarNombre" type="tns:retornarNombre"/>

<xs:element name="retornarNombreResponse" type="tns:retornarNombreResponse"/>

<xs:element name="retornarRut" type="tns:retornarRut"/>

<xs:element name="retornarRutResponse" type="tns:retornarRutResponse"/>

<xs:element name="validaUsuario" type="tns:validaUsuario"/>

<xs:element name="validaUsuarioResponse" type="tns:validaUsuarioResponse"/>

<xs:complexType name="eliminarUsuario">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarUsuarioResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="agregarReserva">
<xs:sequence>
<xs:element name="fecha_reserva" type="xs:string" minOccurs="0"/>
<xs:element name="cantidad_personas" type="xs:string" minOccurs="0"/>
<xs:element name="fecha_salida" type="xs:string" minOccurs="0"/>
<xs:element name="rut" type="xs:string" minOccurs="0"/>
<xs:element name="id_departamento" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="agregarReservaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listardepartamentos">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listardepartamentosResponse">
<xs:sequence>
<xs:element name="return" type="tns:departamento" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="departamento">
<xs:sequence>
<xs:element name="banos" type="xs:string" minOccurs="0"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="direccion" type="xs:string" minOccurs="0"/>
<xs:element name="fecha" type="xs:string" minOccurs="0"/>
<xs:element name="habilitado" type="xs:string" minOccurs="0"/>
<xs:element name="habitaciones" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="ubicacion" type="xs:string" minOccurs="0"/>
<xs:element name="valorarriendo" type="xs:float"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarReservas">
<xs:sequence>
<xs:element name="rut" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarReservasResponse">
<xs:sequence>
<xs:element name="return" type="tns:reservas" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reservas">
<xs:sequence>
<xs:element name="banos" type="xs:string" minOccurs="0"/>
<xs:element name="cantidad_personas" type="xs:string" minOccurs="0"/>
<xs:element name="cedula" type="xs:string" minOccurs="0"/>
<xs:element name="clave" type="xs:string" minOccurs="0"/>
<xs:element name="correo" type="xs:string" minOccurs="0"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="fecha" type="xs:string" minOccurs="0"/>
<xs:element name="fecha_reserva" type="xs:string" minOccurs="0"/>
<xs:element name="fecha_salida" type="xs:string" minOccurs="0"/>
<xs:element name="habitaciones" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="id_departamento" type="xs:string" minOccurs="0"/>
<xs:element name="id_reserva" type="xs:int"/>
<xs:element name="id_usuario" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="nombre_1" type="xs:string" minOccurs="0"/>
<xs:element name="rut" type="xs:string" minOccurs="0"/>
<xs:element name="ubicacion" type="xs:string" minOccurs="0"/>
<xs:element name="valorarriendo" type="xs:float"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarclientes">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarclientesResponse">
<xs:sequence>
<xs:element name="return" type="tns:usuario" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="usuario">
<xs:sequence>
<xs:element name="clave" type="xs:string" minOccurs="0"/>
<xs:element name="correo" type="xs:string" minOccurs="0"/>
<xs:element name="id_rol" type="xs:int"/>
<xs:element name="id_usuario" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="rut" type="xs:string" minOccurs="0"/>
<xs:element name="telefono" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="nuevoinventario">
<xs:sequence>
<xs:element name="id_depto" type="xs:string" minOccurs="0"/>
<xs:element name="producto" type="xs:string" minOccurs="0"/>
<xs:element name="cantidad" type="xs:string" minOccurs="0"/>
<xs:element name="estado" type="xs:string" minOccurs="0"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="categoria" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="nuevoinventarioResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Eliminardepartamento">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="EliminardepartamentoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="validaUsuario">
<xs:sequence>
<xs:element name="correo" type="xs:string" minOccurs="0"/>
<xs:element name="clave" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="validaUsuarioResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarDeptos">
<xs:sequence>
<xs:element name="ubicacion" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarDeptosResponse">
<xs:sequence>
<xs:element name="return" type="tns:departamento" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retornarNombre">
<xs:sequence>
<xs:element name="correo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retornarNombreResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="nuevoservicio">
<xs:sequence>
<xs:element name="nombre_srv" type="xs:string" minOccurs="0"/>
<xs:element name="precio" type="xs:float"/>
<xs:element name="id_departamento" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="nuevoservicioResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="modificarUsuario">
<xs:sequence>
<xs:element name="rut" type="xs:string" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="correo" type="xs:string" minOccurs="0"/>
<xs:element name="telefono" type="xs:string" minOccurs="0"/>
<xs:element name="clave" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="modificarUsuarioResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarReserva">
<xs:sequence>
<xs:element name="id_reserva" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarReservaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="agregardepartamento">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="ubicacion" type="xs:string" minOccurs="0"/>
<xs:element name="banos" type="xs:string" minOccurs="0"/>
<xs:element name="habitaciones" type="xs:string" minOccurs="0"/>
<xs:element name="valorarriendo" type="xs:float"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="fecha" type="xs:string" minOccurs="0"/>
<xs:element name="direccion" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="agregardepartamentoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarservicio">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarservicioResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarpordepartamento">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarpordepartamentoResponse">
<xs:sequence>
<xs:element name="return" type="tns:departamento" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarcuentas">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarcuentasResponse">
<xs:sequence>
<xs:element name="return" type="tns:usuario" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="actualizarestadodepartamento">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="habilitado" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="actualizarestadodepartamentoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarInventario">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarInventarioResponse">
<xs:sequence>
<xs:element name="return" type="tns:inventarios" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="inventarios">
<xs:sequence>
<xs:element name="cantidad" type="xs:string" minOccurs="0"/>
<xs:element name="categoria" type="xs:string" minOccurs="0"/>
<xs:element name="codigo" type="xs:int"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="estado" type="xs:string" minOccurs="0"/>
<xs:element name="id_depto" type="xs:string" minOccurs="0"/>
<xs:element name="id_inv" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="producto" type="xs:string" minOccurs="0"/>
<xs:element name="ubicacion" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retornarRut">
<xs:sequence>
<xs:element name="correo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retornarRutResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarreservadepartamento">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarreservadepartamentoResponse">
<xs:sequence>
<xs:element name="return" type="tns:reservasdepto" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reservasdepto">
<xs:sequence>
<xs:element name="cedula" type="xs:string" minOccurs="0"/>
<xs:element name="departamento" type="xs:string" minOccurs="0"/>
<xs:element name="fecha_reserva" type="xs:string" minOccurs="0"/>
<xs:element name="fecha_salida" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="id_reserva" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="rut" type="xs:string" minOccurs="0"/>
<xs:element name="ubicacion" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Mostrarporrut">
<xs:sequence>
<xs:element name="rut" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="MostrarporrutResponse">
<xs:sequence>
<xs:element name="return" type="tns:usuario" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ListarHabilitados">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="ListarHabilitadosResponse">
<xs:sequence>
<xs:element name="return" type="tns:departamento" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarusuarios">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarusuariosResponse">
<xs:sequence>
<xs:element name="return" type="tns:usuario" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarinventario">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarinventarioResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarLocalidades">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarLocalidadesResponse">
<xs:sequence>
<xs:element name="return" type="tns:localidad" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="localidad">
<xs:sequence>
<xs:element name="id_localidad" type="xs:int"/>
<xs:element name="nombre_localidad" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarcategorias">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarcategoriasResponse">
<xs:sequence>
<xs:element name="return" type="tns:categoria" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="categoria">
<xs:sequence>
<xs:element name="categoria" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Actualizardepartamento">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="ubicacion" type="xs:string" minOccurs="0"/>
<xs:element name="banos" type="xs:string" minOccurs="0"/>
<xs:element name="habitaciones" type="xs:string" minOccurs="0"/>
<xs:element name="valorarriendo" type="xs:float"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="fecha" type="xs:string" minOccurs="0"/>
<xs:element name="direccion" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ActualizardepartamentoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarServicios">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarServiciosResponse">
<xs:sequence>
<xs:element name="return" type="tns:serviciosdepto" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="serviciosdepto">
<xs:sequence>
<xs:element name="id_departamento" type="xs:int"/>
<xs:element name="id_srv" type="xs:int"/>
<xs:element name="nombre_srv" type="xs:string" minOccurs="0"/>
<xs:element name="precio" type="xs:float"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CrearCuenta">
<xs:sequence>
<xs:element name="rut" type="xs:string" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="correo" type="xs:string" minOccurs="0"/>
<xs:element name="telefono" type="xs:string" minOccurs="0"/>
<xs:element name="clave" type="xs:string" minOccurs="0"/>
<xs:element name="id_rol" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CrearCuentaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>