proyecto web/aplicacionweb/web/WEB-INF/wsdl/localhost_8080/SERVICIOS/Servicios.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://WebService/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://WebService/">

<xs:element name="Actualizardepartamento" type="tns:Actualizardepartamento"/>

<xs:element name="ActualizardepartamentoResponse" type="tns:ActualizardepartamentoResponse"/>

<xs:element name="BuscarServicio" type="tns:BuscarServicio"/>

<xs:element name="BuscarServicioResponse" type="tns:BuscarServicioResponse"/>

<xs:element name="CrearCuenta" type="tns:CrearCuenta"/>

<xs:element name="CrearCuentaResponse" type="tns:CrearCuentaResponse"/>

<xs:element name="Detalleasignacion" type="tns:Detalleasignacion"/>

<xs:element name="DetalleasignacionResponse" type="tns:DetalleasignacionResponse"/>

<xs:element name="Eliminardepartamento" type="tns:Eliminardepartamento"/>

<xs:element name="EliminardepartamentoResponse" type="tns:EliminardepartamentoResponse"/>

<xs:element name="IDReserva" type="tns:IDReserva"/>

<xs:element name="IDReservaResponse" type="tns:IDReservaResponse"/>

<xs:element name="Listar3omaspersonas" type="tns:Listar3omaspersonas"/>

<xs:element name="Listar3omaspersonasResponse" type="tns:Listar3omaspersonasResponse"/>

<xs:element name="ListarCheckin" type="tns:ListarCheckin"/>

<xs:element name="ListarCheckinResponse" type="tns:ListarCheckinResponse"/>

<xs:element name="ListarCheckout" type="tns:ListarCheckout"/>

<xs:element name="ListarCheckoutResponse" type="tns:ListarCheckoutResponse"/>

<xs:element name="ListarHabilitados" type="tns:ListarHabilitados"/>

<xs:element name="ListarHabilitadosResponse" type="tns:ListarHabilitadosResponse"/>

<xs:element name="Mostrarporrut" type="tns:Mostrarporrut"/>

<xs:element name="MostrarporrutResponse" type="tns:MostrarporrutResponse"/>

<xs:element name="actualizarestadodepartamento" type="tns:actualizarestadodepartamento"/>

<xs:element name="actualizarestadodepartamentoResponse" type="tns:actualizarestadodepartamentoResponse"/>

<xs:element name="actualizarestadosolicitud" type="tns:actualizarestadosolicitud"/>

<xs:element name="actualizarestadosolicitudResponse" type="tns:actualizarestadosolicitudResponse"/>

<xs:element name="actualizarperfil" type="tns:actualizarperfil"/>

<xs:element name="actualizarperfilResponse" type="tns:actualizarperfilResponse"/>

<xs:element name="agregarReserva" type="tns:agregarReserva"/>

<xs:element name="agregarReservaResponse" type="tns:agregarReservaResponse"/>

<xs:element name="agregardepartamento" type="tns:agregardepartamento"/>

<xs:element name="agregardepartamentoResponse" type="tns:agregardepartamentoResponse"/>

<xs:element name="contratarservicio" type="tns:contratarservicio"/>

<xs:element name="contratarservicioResponse" type="tns:contratarservicioResponse"/>

<xs:element name="detalleinventario" type="tns:detalleinventario"/>

<xs:element name="detalleinventarioResponse" type="tns:detalleinventarioResponse"/>

<xs:element name="eliminarReserva" type="tns:eliminarReserva"/>

<xs:element name="eliminarReservaResponse" type="tns:eliminarReservaResponse"/>

<xs:element name="eliminarUsuario" type="tns:eliminarUsuario"/>

<xs:element name="eliminarUsuarioResponse" type="tns:eliminarUsuarioResponse"/>

<xs:element name="eliminarinventario" type="tns:eliminarinventario"/>

<xs:element name="eliminarinventarioResponse" type="tns:eliminarinventarioResponse"/>

<xs:element name="eliminarservicio" type="tns:eliminarservicio"/>

<xs:element name="eliminarservicioResponse" type="tns:eliminarservicioResponse"/>

<xs:element name="listarDeptos" type="tns:listarDeptos"/>

<xs:element name="listarDeptosResponse" type="tns:listarDeptosResponse"/>

<xs:element name="listarInventario" type="tns:listarInventario"/>

<xs:element name="listarInventarioResponse" type="tns:listarInventarioResponse"/>

<xs:element name="listarLocalidades" type="tns:listarLocalidades"/>

<xs:element name="listarLocalidadesResponse" type="tns:listarLocalidadesResponse"/>

<xs:element name="listarReservas" type="tns:listarReservas"/>

<xs:element name="listarReservasResponse" type="tns:listarReservasResponse"/>

<xs:element name="listarServicios" type="tns:listarServicios"/>

<xs:element name="listarServiciosResponse" type="tns:listarServiciosResponse"/>

<xs:element name="listarcategorias" type="tns:listarcategorias"/>

<xs:element name="listarcategoriasResponse" type="tns:listarcategoriasResponse"/>

<xs:element name="listarclientes" type="tns:listarclientes"/>

<xs:element name="listarclientesResponse" type="tns:listarclientesResponse"/>

<xs:element name="listarcuentas" type="tns:listarcuentas"/>

<xs:element name="listarcuentasResponse" type="tns:listarcuentasResponse"/>

<xs:element name="listardepartamentos" type="tns:listardepartamentos"/>

<xs:element name="listardepartamentosResponse" type="tns:listardepartamentosResponse"/>

<xs:element name="listarmissolicitudes" type="tns:listarmissolicitudes"/>

<xs:element name="listarmissolicitudesResponse" type="tns:listarmissolicitudesResponse"/>

<xs:element name="listarpordepartamento" type="tns:listarpordepartamento"/>

<xs:element name="listarpordepartamentoResponse" type="tns:listarpordepartamentoResponse"/>

<xs:element name="listarreservadepartamento" type="tns:listarreservadepartamento"/>

<xs:element name="listarreservadepartamentoResponse" type="tns:listarreservadepartamentoResponse"/>

<xs:element name="listarreservasporcomuna" type="tns:listarreservasporcomuna"/>

<xs:element name="listarreservasporcomunaResponse" type="tns:listarreservasporcomunaResponse"/>

<xs:element name="listarreservasporfechas" type="tns:listarreservasporfechas"/>

<xs:element name="listarreservasporfechasResponse" type="tns:listarreservasporfechasResponse"/>

<xs:element name="listarreservaspornumeropersonas" type="tns:listarreservaspornumeropersonas"/>

<xs:element name="listarreservaspornumeropersonasResponse" type="tns:listarreservaspornumeropersonasResponse"/>

<xs:element name="listarserv" type="tns:listarserv"/>

<xs:element name="listarservResponse" type="tns:listarservResponse"/>

<xs:element name="listarsolicitudes" type="tns:listarsolicitudes"/>

<xs:element name="listarsolicitudesResponse" type="tns:listarsolicitudesResponse"/>

<xs:element name="listarsolicitudesporfechas" type="tns:listarsolicitudesporfechas"/>

<xs:element name="listarsolicitudesporfechasResponse" type="tns:listarsolicitudesporfechasResponse"/>

<xs:element name="listarusuarios" type="tns:listarusuarios"/>

<xs:element name="listarusuariosResponse" type="tns:listarusuariosResponse"/>

<xs:element name="modificarInventario" type="tns:modificarInventario"/>

<xs:element name="modificarInventarioResponse" type="tns:modificarInventarioResponse"/>

<xs:element name="modificarServicio" type="tns:modificarServicio"/>

<xs:element name="modificarServicioResponse" type="tns:modificarServicioResponse"/>

<xs:element name="modificarUsuario" type="tns:modificarUsuario"/>

<xs:element name="modificarUsuarioResponse" type="tns:modificarUsuarioResponse"/>

<xs:element name="nuevaplanificacion" type="tns:nuevaplanificacion"/>

<xs:element name="nuevaplanificacionResponse" type="tns:nuevaplanificacionResponse"/>

<xs:element name="nuevasolicitud" type="tns:nuevasolicitud"/>

<xs:element name="nuevasolicitudResponse" type="tns:nuevasolicitudResponse"/>

<xs:element name="nuevocheckin" type="tns:nuevocheckin"/>

<xs:element name="nuevocheckinResponse" type="tns:nuevocheckinResponse"/>

<xs:element name="nuevocheckout" type="tns:nuevocheckout"/>

<xs:element name="nuevocheckoutResponse" type="tns:nuevocheckoutResponse"/>

<xs:element name="nuevoinventario" type="tns:nuevoinventario"/>

<xs:element name="nuevoinventarioResponse" type="tns:nuevoinventarioResponse"/>

<xs:element name="nuevopago" type="tns:nuevopago"/>

<xs:element name="nuevopagoResponse" type="tns:nuevopagoResponse"/>

<xs:element name="nuevoservicio" type="tns:nuevoservicio"/>

<xs:element name="nuevoservicioResponse" type="tns:nuevoservicioResponse"/>

<xs:element name="retornarNombre" type="tns:retornarNombre"/>

<xs:element name="retornarNombreResponse" type="tns:retornarNombreResponse"/>

<xs:element name="retornarRut" type="tns:retornarRut"/>

<xs:element name="retornarRutResponse" type="tns:retornarRutResponse"/>

<xs:element name="servicioscontratados" type="tns:servicioscontratados"/>

<xs:element name="servicioscontratadosResponse" type="tns:servicioscontratadosResponse"/>

<xs:element name="validaUsuario" type="tns:validaUsuario"/>

<xs:element name="validaUsuarioResponse" type="tns:validaUsuarioResponse"/>

<xs:complexType name="listardepartamentos">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listardepartamentosResponse">
<xs:sequence>
<xs:element name="return" type="tns:departamento" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="departamento">
<xs:sequence>
<xs:element name="banos" type="xs:string" minOccurs="0"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="direccion" type="xs:string" minOccurs="0"/>
<xs:element name="fecha" type="xs:string" minOccurs="0"/>
<xs:element name="habilitado" type="xs:string" minOccurs="0"/>
<xs:element name="habitaciones" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="ubicacion" type="xs:string" minOccurs="0"/>
<xs:element name="valorarriendo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="agregarReserva">
<xs:sequence>
<xs:element name="fecha_reserva" type="xs:string" minOccurs="0"/>
<xs:element name="cantidad_personas" type="xs:string" minOccurs="0"/>
<xs:element name="fecha_salida" type="xs:string" minOccurs="0"/>
<xs:element name="rut" type="xs:string" minOccurs="0"/>
<xs:element name="id_departamento" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="agregarReservaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarUsuario">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarUsuarioResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarReservas">
<xs:sequence>
<xs:element name="rut" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarReservasResponse">
<xs:sequence>
<xs:element name="return" type="tns:reservas" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reservas">
<xs:sequence>
<xs:element name="banos" type="xs:string" minOccurs="0"/>
<xs:element name="cantidad_personas" type="xs:string" minOccurs="0"/>
<xs:element name="cedula" type="xs:string" minOccurs="0"/>
<xs:element name="clave" type="xs:string" minOccurs="0"/>
<xs:element name="correo" type="xs:string" minOccurs="0"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="fecha" type="xs:string" minOccurs="0"/>
<xs:element name="fecha_reserva" type="xs:string" minOccurs="0"/>
<xs:element name="fecha_salida" type="xs:string" minOccurs="0"/>
<xs:element name="habitaciones" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:string" minOccurs="0"/>
<xs:element name="id_departamento" type="xs:string" minOccurs="0"/>
<xs:element name="id_reserva" type="xs:int"/>
<xs:element name="id_usuario" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="nombre_1" type="xs:string" minOccurs="0"/>
<xs:element name="rut" type="xs:string" minOccurs="0"/>
<xs:element name="ubicacion" type="xs:string" minOccurs="0"/>
<xs:element name="valorarriendo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="nuevocheckout">
<xs:sequence>
<xs:element name="fecha_checkout" type="xs:string" minOccurs="0"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="id_reserva" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="nuevocheckoutResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarclientes">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarclientesResponse">
<xs:sequence>
<xs:element name="return" type="tns:usuario" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="usuario">
<xs:sequence>
<xs:element name="clave" type="xs:string" minOccurs="0"/>
<xs:element name="correo" type="xs:string" minOccurs="0"/>
<xs:element name="id_rol" type="xs:int"/>
<xs:element name="id_usuario" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="rut" type="xs:string" minOccurs="0"/>
<xs:element name="telefono" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="nuevoinventario">
<xs:sequence>
<xs:element name="id_depto" type="xs:string" minOccurs="0"/>
<xs:element name="producto" type="xs:string" minOccurs="0"/>
<xs:element name="cantidad" type="xs:string" minOccurs="0"/>
<xs:element name="estado" type="xs:string" minOccurs="0"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="categoria" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="nuevoinventarioResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="validaUsuario">
<xs:sequence>
<xs:element name="correo" type="xs:string" minOccurs="0"/>
<xs:element name="clave" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="validaUsuarioResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="actualizarperfil">
<xs:sequence>
<xs:element name="rut" type="xs:string" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="clave" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="actualizarperfilResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarreservasporfechas">
<xs:sequence>
<xs:element name="fechainicial" type="xs:string" minOccurs="0"/>
<xs:element name="fechafinal" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarreservasporfechasResponse">
<xs:sequence>
<xs:element name="return" type="tns:reservas" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="servicioscontratados">
<xs:sequence>
<xs:element name="id_reserva" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="servicioscontratadosResponse">
<xs:sequence>
<xs:element name="return" type="tns:servicioreserva" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="servicioreserva">
<xs:sequence>
<xs:element name="fecha_contratacion" type="xs:string" minOccurs="0"/>
<xs:element name="id_reserva" type="xs:string" minOccurs="0"/>
<xs:element name="id_srv" type="xs:int"/>
<xs:element name="nombre_srv" type="xs:string" minOccurs="0"/>
<xs:element name="precio" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarcuentas">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarcuentasResponse">
<xs:sequence>
<xs:element name="return" type="tns:usuario" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="actualizarestadodepartamento">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="habilitado" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="actualizarestadodepartamentoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="modificarInventario">
<xs:sequence>
<xs:element name="id_inv" type="xs:int"/>
<xs:element name="producto" type="xs:string" minOccurs="0"/>
<xs:element name="cantidad" type="xs:string" minOccurs="0"/>
<xs:element name="estado" type="xs:string" minOccurs="0"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="categoria" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="modificarInventarioResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retornarRut">
<xs:sequence>
<xs:element name="correo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retornarRutResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="nuevopago">
<xs:sequence>
<xs:element name="id_reserva" type="xs:string" minOccurs="0"/>
<xs:element name="fechapago" type="xs:string" minOccurs="0"/>
<xs:element name="banco" type="xs:string" minOccurs="0"/>
<xs:element name="cuenta" type="xs:string" minOccurs="0"/>
<xs:element name="monto" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="nuevopagoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Detalleasignacion">
<xs:sequence>
<xs:element name="id_solicitud" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DetalleasignacionResponse">
<xs:sequence>
<xs:element name="return" type="tns:asignacionestransporte" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="asignacionestransporte">
<xs:sequence>
<xs:element name="auto" type="xs:string" minOccurs="0"/>
<xs:element name="cantidad_personas" type="xs:string" minOccurs="0"/>
<xs:element name="conductor" type="xs:string" minOccurs="0"/>
<xs:element name="correo" type="xs:string" minOccurs="0"/>
<xs:element name="destino" type="xs:string" minOccurs="0"/>
<xs:element name="estado" type="xs:string" minOccurs="0"/>
<xs:element name="fecha_reserva" type="xs:string" minOccurs="0"/>
<xs:element name="fecha_salida" type="xs:string" minOccurs="0"/>
<xs:element name="fecha_solicitud" type="xs:string" minOccurs="0"/>
<xs:element name="hora_solicitud" type="xs:string" minOccurs="0"/>
<xs:element name="id_departamento" type="xs:string" minOccurs="0"/>
<xs:element name="id_reserva" type="xs:string" minOccurs="0"/>
<xs:element name="id_solicitud" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="origen" type="xs:string" minOccurs="0"/>
<xs:element name="patente" type="xs:string" minOccurs="0"/>
<xs:element name="rut" type="xs:string" minOccurs="0"/>
<xs:element name="telefono" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarinventario">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarinventarioResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="actualizarestadosolicitud">
<xs:sequence>
<xs:element name="id_solicitud" type="xs:int"/>
<xs:element name="estado" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="actualizarestadosolicitudResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarreservaspornumeropersonas">
<xs:sequence>
<xs:element name="cantidad_personas" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarreservaspornumeropersonasResponse">
<xs:sequence>
<xs:element name="return" type="tns:reservas" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="detalleinventario">
<xs:sequence>
<xs:element name="id_inv" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="detalleinventarioResponse">
<xs:sequence>
<xs:element name="return" type="tns:inventario" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="inventario">
<xs:sequence>
<xs:element name="cantidad" type="xs:string" minOccurs="0"/>
<xs:element name="categoria" type="xs:string" minOccurs="0"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="estado" type="xs:string" minOccurs="0"/>
<xs:element name="id_depto" type="xs:string" minOccurs="0"/>
<xs:element name="id_inv" type="xs:int"/>
<xs:element name="producto" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarmissolicitudes">
<xs:sequence>
<xs:element name="id_reserva" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarmissolicitudesResponse">
<xs:sequence>
<xs:element name="return" type="tns:solicitudtransporte" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="solicitudtransporte">
<xs:sequence>
<xs:element name="destino" type="xs:string" minOccurs="0"/>
<xs:element name="estado" type="xs:string" minOccurs="0"/>
<xs:element name="fecha_solicitud" type="xs:string" minOccurs="0"/>
<xs:element name="hora_solicitud" type="xs:string" minOccurs="0"/>
<xs:element name="id_reserva" type="xs:string" minOccurs="0"/>
<xs:element name="id_solicitud" type="xs:int"/>
<xs:element name="origen" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ListarCheckout">
<xs:sequence>
<xs:element name="id_reserva" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ListarCheckoutResponse">
<xs:sequence>
<xs:element name="return" type="tns:checkout" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkout">
<xs:sequence>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="fecha_checkout" type="xs:string" minOccurs="0"/>
<xs:element name="id_checkout" type="xs:int"/>
<xs:element name="id_reserva" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="IDReserva">
<xs:sequence>
<xs:element name="id_reserva" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="IDReservaResponse">
<xs:sequence>
<xs:element name="return" type="tns:reserva" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reserva">
<xs:sequence>
<xs:element name="cantidad_personas" type="xs:string" minOccurs="0"/>
<xs:element name="fecha_reserva" type="xs:string" minOccurs="0"/>
<xs:element name="fecha_salida" type="xs:string" minOccurs="0"/>
<xs:element name="id_departamento" type="xs:string" minOccurs="0"/>
<xs:element name="id_reserva" type="xs:int"/>
<xs:element name="rut" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarserv">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarservResponse">
<xs:sequence>
<xs:element name="return" type="tns:serviciosdepto" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="serviciosdepto">
<xs:sequence>
<xs:element name="id_departamento" type="xs:int"/>
<xs:element name="id_srv" type="xs:int"/>
<xs:element name="nombre_srv" type="xs:string" minOccurs="0"/>
<xs:element name="precio" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarsolicitudesporfechas">
<xs:sequence>
<xs:element name="fechainicial" type="xs:string" minOccurs="0"/>
<xs:element name="fechafinal" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarsolicitudesporfechasResponse">
<xs:sequence>
<xs:element name="return" type="tns:solicitudes" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="solicitudes">
<xs:sequence>
<xs:element name="cantidad_personas" type="xs:string" minOccurs="0"/>
<xs:element name="clave" type="xs:string" minOccurs="0"/>
<xs:element name="correo" type="xs:string" minOccurs="0"/>
<xs:element name="destino" type="xs:string" minOccurs="0"/>
<xs:element name="estado" type="xs:string" minOccurs="0"/>
<xs:element name="fecha_reserva" type="xs:string" minOccurs="0"/>
<xs:element name="fecha_salida" type="xs:string" minOccurs="0"/>
<xs:element name="fecha_solicitud" type="xs:string" minOccurs="0"/>
<xs:element name="hora_solicitud" type="xs:string" minOccurs="0"/>
<xs:element name="id_departamento" type="xs:string" minOccurs="0"/>
<xs:element name="id_reserva" type="xs:string" minOccurs="0"/>
<xs:element name="id_reserva1" type="xs:int"/>
<xs:element name="id_rol" type="xs:int"/>
<xs:element name="id_solicitud" type="xs:int"/>
<xs:element name="id_usuario" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="origen" type="xs:string" minOccurs="0"/>
<xs:element name="rut" type="xs:string" minOccurs="0"/>
<xs:element name="rut1" type="xs:string" minOccurs="0"/>
<xs:element name="telefono" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Eliminardepartamento">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="EliminardepartamentoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarDeptos">
<xs:sequence>
<xs:element name="ubicacion" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarDeptosResponse">
<xs:sequence>
<xs:element name="return" type="tns:departamento" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="modificarServicio">
<xs:sequence>
<xs:element name="id_srv" type="xs:int"/>
<xs:element name="nombre_srv" type="xs:string" minOccurs="0"/>
<xs:element name="precio" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="modificarServicioResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retornarNombre">
<xs:sequence>
<xs:element name="correo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retornarNombreResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="nuevoservicio">
<xs:sequence>
<xs:element name="nombre_srv" type="xs:string" minOccurs="0"/>
<xs:element name="precio" type="xs:string" minOccurs="0"/>
<xs:element name="id_departamento" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="nuevoservicioResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="contratarservicio">
<xs:sequence>
<xs:element name="fecha_contratacion" type="xs:string" minOccurs="0"/>
<xs:element name="id_srv" type="xs:string" minOccurs="0"/>
<xs:element name="id_reserva" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="contratarservicioResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarReserva">
<xs:sequence>
<xs:element name="id_reserva" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarReservaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="modificarUsuario">
<xs:sequence>
<xs:element name="id_usuario" type="xs:int"/>
<xs:element name="rut" type="xs:string" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="correo" type="xs:string" minOccurs="0"/>
<xs:element name="telefono" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="modificarUsuarioResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="agregardepartamento">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="ubicacion" type="xs:string" minOccurs="0"/>
<xs:element name="banos" type="xs:string" minOccurs="0"/>
<xs:element name="habitaciones" type="xs:string" minOccurs="0"/>
<xs:element name="valorarriendo" type="xs:string" minOccurs="0"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="fecha" type="xs:string" minOccurs="0"/>
<xs:element name="direccion" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="agregardepartamentoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarservicio">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarservicioResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarpordepartamento">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarpordepartamentoResponse">
<xs:sequence>
<xs:element name="return" type="tns:departamento" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Listar3omaspersonas">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="Listar3omaspersonasResponse">
<xs:sequence>
<xs:element name="return" type="tns:reservas" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarsolicitudes">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarsolicitudesResponse">
<xs:sequence>
<xs:element name="return" type="tns:solicitudes" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="nuevaplanificacion">
<xs:sequence>
<xs:element name="id_solicitud" type="xs:string" minOccurs="0"/>
<xs:element name="conductor" type="xs:string" minOccurs="0"/>
<xs:element name="auto" type="xs:string" minOccurs="0"/>
<xs:element name="patente" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="nuevaplanificacionResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ListarCheckin">
<xs:sequence>
<xs:element name="id_reserva" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ListarCheckinResponse">
<xs:sequence>
<xs:element name="return" type="tns:checkin" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkin">
<xs:sequence>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="fecha_checkin" type="xs:string" minOccurs="0"/>
<xs:element name="id_checkin" type="xs:int"/>
<xs:element name="id_reserva" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="nuevasolicitud">
<xs:sequence>
<xs:element name="id_reserva" type="xs:string" minOccurs="0"/>
<xs:element name="fecha_solicitud" type="xs:string" minOccurs="0"/>
<xs:element name="hora_solicitud" type="xs:string" minOccurs="0"/>
<xs:element name="origen" type="xs:string" minOccurs="0"/>
<xs:element name="destino" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="nuevasolicitudResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarInventario">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarInventarioResponse">
<xs:sequence>
<xs:element name="return" type="tns:inventarios" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="inventarios">
<xs:sequence>
<xs:element name="cantidad" type="xs:string" minOccurs="0"/>
<xs:element name="categoria" type="xs:string" minOccurs="0"/>
<xs:element name="codigo" type="xs:int"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="estado" type="xs:string" minOccurs="0"/>
<xs:element name="id_depto" type="xs:string" minOccurs="0"/>
<xs:element name="id_inv" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="producto" type="xs:string" minOccurs="0"/>
<xs:element name="ubicacion" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarreservadepartamento">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarreservadepartamentoResponse">
<xs:sequence>
<xs:element name="return" type="tns:reservasdepto" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reservasdepto">
<xs:sequence>
<xs:element name="cedula" type="xs:string" minOccurs="0"/>
<xs:element name="departamento" type="xs:string" minOccurs="0"/>
<xs:element name="fecha_reserva" type="xs:string" minOccurs="0"/>
<xs:element name="fecha_salida" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="id_reserva" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="rut" type="xs:string" minOccurs="0"/>
<xs:element name="ubicacion" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Mostrarporrut">
<xs:sequence>
<xs:element name="rut" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="MostrarporrutResponse">
<xs:sequence>
<xs:element name="return" type="tns:usuario" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ListarHabilitados">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="ListarHabilitadosResponse">
<xs:sequence>
<xs:element name="return" type="tns:departamento" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarusuarios">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarusuariosResponse">
<xs:sequence>
<xs:element name="return" type="tns:usuario" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="BuscarServicio">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="BuscarServicioResponse">
<xs:sequence>
<xs:element name="return" type="tns:serviciosdepto" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarreservasporcomuna">
<xs:sequence>
<xs:element name="comuna" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarreservasporcomunaResponse">
<xs:sequence>
<xs:element name="return" type="tns:reservas" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarLocalidades">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarLocalidadesResponse">
<xs:sequence>
<xs:element name="return" type="tns:localidad" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="localidad">
<xs:sequence>
<xs:element name="id_localidad" type="xs:int"/>
<xs:element name="nombre_localidad" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarcategorias">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarcategoriasResponse">
<xs:sequence>
<xs:element name="return" type="tns:categoria" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="categoria">
<xs:sequence>
<xs:element name="categoria" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Actualizardepartamento">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="ubicacion" type="xs:string" minOccurs="0"/>
<xs:element name="banos" type="xs:string" minOccurs="0"/>
<xs:element name="habitaciones" type="xs:string" minOccurs="0"/>
<xs:element name="valorarriendo" type="xs:string" minOccurs="0"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="fecha" type="xs:string" minOccurs="0"/>
<xs:element name="direccion" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ActualizardepartamentoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="nuevocheckin">
<xs:sequence>
<xs:element name="fecha_checkin" type="xs:string" minOccurs="0"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="id_reserva" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="nuevocheckinResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarServicios">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarServiciosResponse">
<xs:sequence>
<xs:element name="return" type="tns:serviciosdepto" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CrearCuenta">
<xs:sequence>
<xs:element name="rut" type="xs:string" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="correo" type="xs:string" minOccurs="0"/>
<xs:element name="telefono" type="xs:string" minOccurs="0"/>
<xs:element name="clave" type="xs:string" minOccurs="0"/>
<xs:element name="id_rol" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CrearCuentaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>