proyecto web/SERVICIOS/web/WEB-INF/wsdl/localhost_8080/SERVICIOS/Servicios.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WebService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WebService/" name="Servicios">
<types>
<xsd:schema>
<xsd:import namespace="http://WebService/" schemaLocation="http://localhost:8080/SERVICIOS/Servicios?xsd=1"/>
</xsd:schema>
</types>
<message name="listarReservas">
<part name="parameters" element="tns:listarReservas"/>
</message>
<message name="listarReservasResponse">
<part name="parameters" element="tns:listarReservasResponse"/>
</message>
<message name="nuevoinventario">
<part name="parameters" element="tns:nuevoinventario"/>
</message>
<message name="nuevoinventarioResponse">
<part name="parameters" element="tns:nuevoinventarioResponse"/>
</message>
<message name="listarDeptos">
<part name="parameters" element="tns:listarDeptos"/>
</message>
<message name="listarDeptosResponse">
<part name="parameters" element="tns:listarDeptosResponse"/>
</message>
<message name="validaUsuario">
<part name="parameters" element="tns:validaUsuario"/>
</message>
<message name="validaUsuarioResponse">
<part name="parameters" element="tns:validaUsuarioResponse"/>
</message>
<message name="retornarRut">
<part name="parameters" element="tns:retornarRut"/>
</message>
<message name="retornarRutResponse">
<part name="parameters" element="tns:retornarRutResponse"/>
</message>
<message name="retornarNombre">
<part name="parameters" element="tns:retornarNombre"/>
</message>
<message name="retornarNombreResponse">
<part name="parameters" element="tns:retornarNombreResponse"/>
</message>
<message name="eliminarUsuario">
<part name="parameters" element="tns:eliminarUsuario"/>
</message>
<message name="eliminarUsuarioResponse">
<part name="parameters" element="tns:eliminarUsuarioResponse"/>
</message>
<message name="agregarReserva">
<part name="parameters" element="tns:agregarReserva"/>
</message>
<message name="agregarReservaResponse">
<part name="parameters" element="tns:agregarReservaResponse"/>
</message>
<message name="modificarUsuario">
<part name="parameters" element="tns:modificarUsuario"/>
</message>
<message name="modificarUsuarioResponse">
<part name="parameters" element="tns:modificarUsuarioResponse"/>
</message>
<message name="listarInventario">
<part name="parameters" element="tns:listarInventario"/>
</message>
<message name="listarInventarioResponse">
<part name="parameters" element="tns:listarInventarioResponse"/>
</message>
<message name="nuevoservicio">
<part name="parameters" element="tns:nuevoservicio"/>
</message>
<message name="nuevoservicioResponse">
<part name="parameters" element="tns:nuevoservicioResponse"/>
</message>
<message name="listarcuentas">
<part name="parameters" element="tns:listarcuentas"/>
</message>
<message name="listarcuentasResponse">
<part name="parameters" element="tns:listarcuentasResponse"/>
</message>
<message name="eliminarservicio">
<part name="parameters" element="tns:eliminarservicio"/>
</message>
<message name="eliminarservicioResponse">
<part name="parameters" element="tns:eliminarservicioResponse"/>
</message>
<message name="eliminarinventario">
<part name="parameters" element="tns:eliminarinventario"/>
</message>
<message name="eliminarinventarioResponse">
<part name="parameters" element="tns:eliminarinventarioResponse"/>
</message>
<message name="listarcategorias">
<part name="parameters" element="tns:listarcategorias"/>
</message>
<message name="listarcategoriasResponse">
<part name="parameters" element="tns:listarcategoriasResponse"/>
</message>
<message name="listarServicios">
<part name="parameters" element="tns:listarServicios"/>
</message>
<message name="listarServiciosResponse">
<part name="parameters" element="tns:listarServiciosResponse"/>
</message>
<message name="Eliminardepartamento">
<part name="parameters" element="tns:Eliminardepartamento"/>
</message>
<message name="EliminardepartamentoResponse">
<part name="parameters" element="tns:EliminardepartamentoResponse"/>
</message>
<message name="listarpordepartamento">
<part name="parameters" element="tns:listarpordepartamento"/>
</message>
<message name="listarpordepartamentoResponse">
<part name="parameters" element="tns:listarpordepartamentoResponse"/>
</message>
<message name="listardepartamentos">
<part name="parameters" element="tns:listardepartamentos"/>
</message>
<message name="listardepartamentosResponse">
<part name="parameters" element="tns:listardepartamentosResponse"/>
</message>
<message name="Actualizardepartamento">
<part name="parameters" element="tns:Actualizardepartamento"/>
</message>
<message name="ActualizardepartamentoResponse">
<part name="parameters" element="tns:ActualizardepartamentoResponse"/>
</message>
<message name="agregardepartamento">
<part name="parameters" element="tns:agregardepartamento"/>
</message>
<message name="agregardepartamentoResponse">
<part name="parameters" element="tns:agregardepartamentoResponse"/>
</message>
<message name="listarLocalidades">
<part name="parameters" element="tns:listarLocalidades"/>
</message>
<message name="listarLocalidadesResponse">
<part name="parameters" element="tns:listarLocalidadesResponse"/>
</message>
<message name="listarreservadepartamento">
<part name="parameters" element="tns:listarreservadepartamento"/>
</message>
<message name="listarreservadepartamentoResponse">
<part name="parameters" element="tns:listarreservadepartamentoResponse"/>
</message>
<message name="actualizarestadodepartamento">
<part name="parameters" element="tns:actualizarestadodepartamento"/>
</message>
<message name="actualizarestadodepartamentoResponse">
<part name="parameters" element="tns:actualizarestadodepartamentoResponse"/>
</message>
<message name="ListarHabilitados">
<part name="parameters" element="tns:ListarHabilitados"/>
</message>
<message name="ListarHabilitadosResponse">
<part name="parameters" element="tns:ListarHabilitadosResponse"/>
</message>
<message name="eliminarReserva">
<part name="parameters" element="tns:eliminarReserva"/>
</message>
<message name="eliminarReservaResponse">
<part name="parameters" element="tns:eliminarReservaResponse"/>
</message>
<message name="listarclientes">
<part name="parameters" element="tns:listarclientes"/>
</message>
<message name="listarclientesResponse">
<part name="parameters" element="tns:listarclientesResponse"/>
</message>
<message name="CrearCuenta">
<part name="parameters" element="tns:CrearCuenta"/>
</message>
<message name="CrearCuentaResponse">
<part name="parameters" element="tns:CrearCuentaResponse"/>
</message>
<message name="Mostrarporrut">
<part name="parameters" element="tns:Mostrarporrut"/>
</message>
<message name="MostrarporrutResponse">
<part name="parameters" element="tns:MostrarporrutResponse"/>
</message>
<message name="listarusuarios">
<part name="parameters" element="tns:listarusuarios"/>
</message>
<message name="listarusuariosResponse">
<part name="parameters" element="tns:listarusuariosResponse"/>
</message>
<portType name="Servicios">
<operation name="listarReservas">
<input wsam:Action="http://WebService/Servicios/listarReservasRequest" message="tns:listarReservas"/>
<output wsam:Action="http://WebService/Servicios/listarReservasResponse" message="tns:listarReservasResponse"/>
</operation>
<operation name="nuevoinventario">
<input wsam:Action="http://WebService/Servicios/nuevoinventarioRequest" message="tns:nuevoinventario"/>
<output wsam:Action="http://WebService/Servicios/nuevoinventarioResponse" message="tns:nuevoinventarioResponse"/>
</operation>
<operation name="listarDeptos">
<input wsam:Action="http://WebService/Servicios/listarDeptosRequest" message="tns:listarDeptos"/>
<output wsam:Action="http://WebService/Servicios/listarDeptosResponse" message="tns:listarDeptosResponse"/>
</operation>
<operation name="validaUsuario">
<input wsam:Action="http://WebService/Servicios/validaUsuarioRequest" message="tns:validaUsuario"/>
<output wsam:Action="http://WebService/Servicios/validaUsuarioResponse" message="tns:validaUsuarioResponse"/>
</operation>
<operation name="retornarRut">
<input wsam:Action="http://WebService/Servicios/retornarRutRequest" message="tns:retornarRut"/>
<output wsam:Action="http://WebService/Servicios/retornarRutResponse" message="tns:retornarRutResponse"/>
</operation>
<operation name="retornarNombre">
<input wsam:Action="http://WebService/Servicios/retornarNombreRequest" message="tns:retornarNombre"/>
<output wsam:Action="http://WebService/Servicios/retornarNombreResponse" message="tns:retornarNombreResponse"/>
</operation>
<operation name="eliminarUsuario">
<input wsam:Action="http://WebService/Servicios/eliminarUsuarioRequest" message="tns:eliminarUsuario"/>
<output wsam:Action="http://WebService/Servicios/eliminarUsuarioResponse" message="tns:eliminarUsuarioResponse"/>
</operation>
<operation name="agregarReserva">
<input wsam:Action="http://WebService/Servicios/agregarReservaRequest" message="tns:agregarReserva"/>
<output wsam:Action="http://WebService/Servicios/agregarReservaResponse" message="tns:agregarReservaResponse"/>
</operation>
<operation name="modificarUsuario">
<input wsam:Action="http://WebService/Servicios/modificarUsuarioRequest" message="tns:modificarUsuario"/>
<output wsam:Action="http://WebService/Servicios/modificarUsuarioResponse" message="tns:modificarUsuarioResponse"/>
</operation>
<operation name="listarInventario">
<input wsam:Action="http://WebService/Servicios/listarInventarioRequest" message="tns:listarInventario"/>
<output wsam:Action="http://WebService/Servicios/listarInventarioResponse" message="tns:listarInventarioResponse"/>
</operation>
<operation name="nuevoservicio">
<input wsam:Action="http://WebService/Servicios/nuevoservicioRequest" message="tns:nuevoservicio"/>
<output wsam:Action="http://WebService/Servicios/nuevoservicioResponse" message="tns:nuevoservicioResponse"/>
</operation>
<operation name="listarcuentas">
<input wsam:Action="http://WebService/Servicios/listarcuentasRequest" message="tns:listarcuentas"/>
<output wsam:Action="http://WebService/Servicios/listarcuentasResponse" message="tns:listarcuentasResponse"/>
</operation>
<operation name="eliminarservicio">
<input wsam:Action="http://WebService/Servicios/eliminarservicioRequest" message="tns:eliminarservicio"/>
<output wsam:Action="http://WebService/Servicios/eliminarservicioResponse" message="tns:eliminarservicioResponse"/>
</operation>
<operation name="eliminarinventario">
<input wsam:Action="http://WebService/Servicios/eliminarinventarioRequest" message="tns:eliminarinventario"/>
<output wsam:Action="http://WebService/Servicios/eliminarinventarioResponse" message="tns:eliminarinventarioResponse"/>
</operation>
<operation name="listarcategorias">
<input wsam:Action="http://WebService/Servicios/listarcategoriasRequest" message="tns:listarcategorias"/>
<output wsam:Action="http://WebService/Servicios/listarcategoriasResponse" message="tns:listarcategoriasResponse"/>
</operation>
<operation name="listarServicios">
<input wsam:Action="http://WebService/Servicios/listarServiciosRequest" message="tns:listarServicios"/>
<output wsam:Action="http://WebService/Servicios/listarServiciosResponse" message="tns:listarServiciosResponse"/>
</operation>
<operation name="Eliminardepartamento">
<input wsam:Action="http://WebService/Servicios/EliminardepartamentoRequest" message="tns:Eliminardepartamento"/>
<output wsam:Action="http://WebService/Servicios/EliminardepartamentoResponse" message="tns:EliminardepartamentoResponse"/>
</operation>
<operation name="listarpordepartamento">
<input wsam:Action="http://WebService/Servicios/listarpordepartamentoRequest" message="tns:listarpordepartamento"/>
<output wsam:Action="http://WebService/Servicios/listarpordepartamentoResponse" message="tns:listarpordepartamentoResponse"/>
</operation>
<operation name="listardepartamentos">
<input wsam:Action="http://WebService/Servicios/listardepartamentosRequest" message="tns:listardepartamentos"/>
<output wsam:Action="http://WebService/Servicios/listardepartamentosResponse" message="tns:listardepartamentosResponse"/>
</operation>
<operation name="Actualizardepartamento">
<input wsam:Action="http://WebService/Servicios/ActualizardepartamentoRequest" message="tns:Actualizardepartamento"/>
<output wsam:Action="http://WebService/Servicios/ActualizardepartamentoResponse" message="tns:ActualizardepartamentoResponse"/>
</operation>
<operation name="agregardepartamento">
<input wsam:Action="http://WebService/Servicios/agregardepartamentoRequest" message="tns:agregardepartamento"/>
<output wsam:Action="http://WebService/Servicios/agregardepartamentoResponse" message="tns:agregardepartamentoResponse"/>
</operation>
<operation name="listarLocalidades">
<input wsam:Action="http://WebService/Servicios/listarLocalidadesRequest" message="tns:listarLocalidades"/>
<output wsam:Action="http://WebService/Servicios/listarLocalidadesResponse" message="tns:listarLocalidadesResponse"/>
</operation>
<operation name="listarreservadepartamento">
<input wsam:Action="http://WebService/Servicios/listarreservadepartamentoRequest" message="tns:listarreservadepartamento"/>
<output wsam:Action="http://WebService/Servicios/listarreservadepartamentoResponse" message="tns:listarreservadepartamentoResponse"/>
</operation>
<operation name="actualizarestadodepartamento">
<input wsam:Action="http://WebService/Servicios/actualizarestadodepartamentoRequest" message="tns:actualizarestadodepartamento"/>
<output wsam:Action="http://WebService/Servicios/actualizarestadodepartamentoResponse" message="tns:actualizarestadodepartamentoResponse"/>
</operation>
<operation name="ListarHabilitados">
<input wsam:Action="http://WebService/Servicios/ListarHabilitadosRequest" message="tns:ListarHabilitados"/>
<output wsam:Action="http://WebService/Servicios/ListarHabilitadosResponse" message="tns:ListarHabilitadosResponse"/>
</operation>
<operation name="eliminarReserva">
<input wsam:Action="http://WebService/Servicios/eliminarReservaRequest" message="tns:eliminarReserva"/>
<output wsam:Action="http://WebService/Servicios/eliminarReservaResponse" message="tns:eliminarReservaResponse"/>
</operation>
<operation name="listarclientes">
<input wsam:Action="http://WebService/Servicios/listarclientesRequest" message="tns:listarclientes"/>
<output wsam:Action="http://WebService/Servicios/listarclientesResponse" message="tns:listarclientesResponse"/>
</operation>
<operation name="CrearCuenta">
<input wsam:Action="http://WebService/Servicios/CrearCuentaRequest" message="tns:CrearCuenta"/>
<output wsam:Action="http://WebService/Servicios/CrearCuentaResponse" message="tns:CrearCuentaResponse"/>
</operation>
<operation name="Mostrarporrut">
<input wsam:Action="http://WebService/Servicios/MostrarporrutRequest" message="tns:Mostrarporrut"/>
<output wsam:Action="http://WebService/Servicios/MostrarporrutResponse" message="tns:MostrarporrutResponse"/>
</operation>
<operation name="listarusuarios">
<input wsam:Action="http://WebService/Servicios/listarusuariosRequest" message="tns:listarusuarios"/>
<output wsam:Action="http://WebService/Servicios/listarusuariosResponse" message="tns:listarusuariosResponse"/>
</operation>
</portType>
<binding name="ServiciosPortBinding" type="tns:Servicios">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="listarReservas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="nuevoinventario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarDeptos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="validaUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retornarRut">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retornarNombre">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="agregarReserva">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="modificarUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarInventario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="nuevoservicio">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarcuentas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarservicio">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarinventario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarcategorias">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarServicios">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Eliminardepartamento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarpordepartamento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listardepartamentos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Actualizardepartamento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="agregardepartamento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarLocalidades">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarreservadepartamento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="actualizarestadodepartamento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ListarHabilitados">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarReserva">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarclientes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CrearCuenta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Mostrarporrut">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarusuarios">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Servicios">
<port name="ServiciosPort" binding="tns:ServiciosPortBinding">
<soap:address location="http://localhost:8080/SERVICIOS/Servicios"/>
</port>
</service>
</definitions>